@font-face {
    font-family: 'helvetica';
    src: url('../public/helvetica/HelveticaNowText-Light.woff2') format('woff2'),
    url('../public/helvetica/HelveticaNowText-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.main-loading {
    position: fixed;
    top:0;
    z-index: 99!important;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100vw;
    background-color: #1e1e1e;
    opacity: 100%;
    flex-direction: column;
}

.febo-container {
    font-family: 'Arial', sans-serif;
    font-size: 6rem;
    position: relative;


}

.febo-text {
    color: #fff;
    font-weight: bold;

}




